/*-------------------------------
#.single-grid-product-v2
--------------------------------*/
.single-grid-product-v2 {
    margin-bottom: 3rem;
    .product-top {
        position: relative;
        margin-bottom: 3.5rem;
        z-index: 1;
        text-align: center;
        overflow: hidden;
        transition: 1s ease all;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 84%;
            background-color: #F9ECCE;
            left: 0;
            bottom: 0;
            border-radius: 500px 500px 0 0;
            z-index: -1;
        }
        &:hover {
            .product-thumbnal {
                transform: scale(1.1);
            }
        }
        .product-thumbnal {
            max-width: 100%;
            // height: 555px;
            display: inline-block;
            transition: 1s ease all;
        }
        .product-flags {
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
            position: absolute;
            left: 0;
            right: 0;
            top: 20%;
            text-align: center;
            .product-flag {
                display: inline-block;
                padding: 0;
                width: 5.6rem;
                height: 5.6rem;
                line-height: 5.6rem;
                border-radius: 50%;
                font-size: 1.6rem;
                font-weight: 500;
                text-transform: uppercase;
                color: var(--white);
                background-color: #FDD65B;
                transition: $transition;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-15px);
                &:nth-child(1) {
                    transition-delay: .2s;
                }
                &:nth-child(2) {
                    transition-delay: .4s;
                }
                &.sale {
                    background-color: #E94646;
                }
            }
        }
        .prdouct-btn-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 3.5rem;
            text-align: center;
            .single-product-btn {
                display: inline-block;
                transform: translateY(10px);
                transition: $transition;
                opacity: 0;
                visibility: hidden;
                margin: 0 .3rem;
                &:nth-child(1) {
                    transition-delay: .2s;
                }
                &:nth-child(2) {
                    transition-delay: .4s;
                }
                &:nth-child(3) {
                    transition-delay: .6s;
                }
                &:nth-child(4) {
                    transition-delay: .8s;
                }
                .product-btn {
                    @include flex-position(flex, center, center);
                    width: 4.8rem;
                    height: 4.8rem;
                    line-height: 1;
                    border-radius: 50%;
                    background-color: var(--primary-color-two);
                    color: var(--white);
                    transition: $transition;
                    .icon {
                        &::before {
                            font-size: 1.8rem;
                            line-height: 1;
                            font-weight: 700;
                        }
                    }
                    &:hover {
                        color: var(--white);
                        background-color: var(--hover-color-two);
                    }
                }
            }
        }
    }
    .product-info {
        .product-catagory {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            line-height: 2.5rem;
            font-weight: 400;
            text-transform: uppercase;
            color: #555555;
        }
        .product-name {
            margin-bottom: 1.5rem;
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 600;
            color: var(--black);
            text-transform: capitalize;
            .product-link {
                color: var(--black);
                transition: $transition;
                &:hover {
                    color: var(--primary-color-two);
                }
            }
        }
        .product-review {
            margin-bottom: 1rem;
            padding: 0;
            .review-item {
                display: inline-block;
                color: #D0D0D0;
                cursor: pointer;
                &.active {
                    color: #FCA610;
                }
            }
        }
        .product-price {
            margin-bottom: 2.5rem;
            .regular-price {
                display: inline-block;
                font-size: 2rem;
                font-weight: 400;
                color: #555555;
                text-decoration: line-through;
                margin-right: 1rem;
            }
            .price {
                display: inline-block;
                font-size: 2rem;
                font-weight: 700;
                color: var(--primary-color-two);
            }
        }
        .color-switch {
            margin-bottom: 2.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #EDEDED;
            .single-color {
                display: inline-block;
                margin: 0 .3rem;
                list-style: none;
                width: 3rem;
                height: 3rem;
                line-height: 1;
                border-radius: 50%;
                background-color: var(--white);
                border: 2px solid transparent;
                box-sizing: border-box;
                cursor: pointer;
                &.active {
                    border: 2px solid var(--black);
                }
                &.white {
                    background-color: #ffffff;
                }
                &.black {
                    background-color: #1C1C1C;
                }
                &.red {
                    background-color: #FB8484;
                }
                &.gray {
                    background-color: #B1B1B1;
                }
            }
        }
        .size-switch {
            margin-bottom: 3rem;
            padding: 0;
            .single-size {
                display: inline-block;
                cursor: pointer;
                font-size: 1.6rem;
                line-height: 1;
                font-weight: 400;
                text-transform: uppercase;
                color: #777777;
                padding: .6rem 1.5rem;
                background-color: #F4F4F4;
                &.active {
                    color: var(--white);
                    background-color: #E94646;
                }
            }
        }
        .add-cart {
            @include flex-position(flex, center, center);
            width: 312px;
            margin: 0 auto;
            height: 5.6rem;
            border: 1px solid #CACACA;
            font-size: 1.6rem;
            font-weight: 500;
            text-transform: capitalize;
            color: var(--black);
            transition: $transition;
            .icon {
                margin-left: 1rem;
            }
            &:hover {
                color: var(--white);
                background-color: var(--primary-color-two);
                border-color: var(--primary-color-two);
            }
        }
    }
    &:hover {
        .product-top {
            .single-product-btn {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
            .product-flags {
                .product-flag  {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
}
.featured-products-area-v2 .single-grid-product-v2 .product-info .size-switch .single-size {
    background-color: var(--white);
}
.featured-products-area-v2 .single-grid-product-v2 .product-info .size-switch .single-size.active {
    color: var(--white);
    background-color: #E94646;
}
@media (max-width: 1199px) {
    .single-grid-product-v2 .product-info .add-cart {
        width: 250px;
    }
    .single-grid-product-v2 .product-top .product-thumbnal {
        max-height: 400px;
    }
}
@media (max-width: 991px) {
    .single-grid-product-v2 .product-info .add-cart {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .single-grid-product-v2 .product-top .product-thumbnal {
        max-height: 350px;
    }
}
@media (max-width: 575px) {
    .single-grid-product-v2 .product-info .size-switch .single-size {
        font-size: 1.4rem;
        padding: .6rem 1rem;
    }
    .single-grid-product-v2 .product-info .color-switch .single-color {
        margin: 0 ;
        width: 2.5rem;
        height: 2.5rem;
    }
}
