//customer area style
.customers__area{
    padding: 25px 25px 30px;
}

//customers top style
.customers__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &__left{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        p{
            margin-bottom: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #596680;
        }
        select{
            margin: 0 12px;
            padding: 11px 12px;
            border: 0;
            background: #F2F4F7;
            border-radius: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #596680;
        }
    }
    &__right{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .item{
            &:not(:first-child){
                margin-left: 15px;
            }
        }
    }
    @include breakpoint(480px){
        &__right{
            flex-direction: column;
            align-items: flex-start;
            .item{
                &:not(:first-child){
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
}

.customers__top__right .item .input__group{
    position: relative;
    .overlay{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        a img{
            width: 20px;
            height: 20px;
        }
    }
    input{
        padding: 11px 15px 12px 45px;
        border: 0;
        background: #F2F4F7;
        border-radius: 8px;
    }
}


//customers table style
.customers__table{
    width: 100%;
    overflow-x: auto;
}

.customers__table table{
    width: 100%;
    thead th{
        padding: 14px 20px;
        background: #F5F7FA;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #273041;
    }
    tbody td{
        border-bottom: 1px solid #ECEDF0;
        padding: 12px 20px 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #596680;
        &:nth-child(1){min-width: 50px;}
        &:nth-child(2){min-width: 200px;}
        &:nth-child(3){min-width: 180px;}
        &:nth-child(4){min-width: 200px;}
        &:nth-child(5){min-width: 100px;}
        &:nth-child(6){min-width: 100px;}
        &:nth-child(7){min-width: 100px;}
    }

    tbody tr{
        transition: 0.3s;
        &:hover{
            background: $white;
            box-shadow: 0px 0px 15px rgba(161, 167, 179, 0.2);
        }
    }
}

//user info style
.user-info{
    display: flex;
    align-items: center;
    &__img{
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    &__text{
        margin-left: 14px;
        h2{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #596680;
        }
    }
}

//status style
.status{
    padding: 6px 10px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    &.active{
        background-color: #E1FAE1;
        color: #4CBF4C;
    }
    &.blocked{
        background-color: #FFE6E6;
        color: #F96363;
    }
}

//action buttons style
.action__buttons{
    display: flex;
    align-items: center;
    a{
        i{
            font-size: 18px;
            color: #B6B9BF;
        }
        &:not(:first-child){
            margin-left: 15px;
        }
    }
}