// body var
$bodyFont: 'Jost', sans-serif;
$allisonFont: 'Allison', cursive;
$marcellusFont: 'Marcellus', serif;
$FiraSansFont: 'Fira Sans', sans-serif;
$bfSize: 1.6rem;
$blineHeight: 2.6rem;
$fontWeight: 400;
$transition: all .3s linear;


