/*-------------------------------
secendary-tabs
--------------------------------*/
.secendary-tabs{
    .nav-tabs {
        border: none;
        justify-content: center;
        .nav-item {
            border: none;
            margin-right: 2.5rem;
            &:last-child {
                margin-right: 0;
            }
            .nav-link {
                border: none;
                padding: 2px 10px;
                font-size: 1.5rem;
                font-weight: 500;
                text-transform: capitalize;
                color: #888888;
                border-radius: 0;
                &.active {
                    color: var(--white);
                    background-color: var(--primary-color);
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .secendary-tabs .nav-tabs .nav-item {
        margin: .5rem .8rem;
    }
}