/*-------------------------------
#.shipping-return-area
--------------------------------*/
.shipping-return-area {
    .single-shipping-return {
        margin-bottom: 3.5rem;
        .shipping-return-title {
            margin-bottom: 2rem;
            font-family: $bodyFont;
            font-size: 2.4rem;
            line-height: 3.4rem;
            font-weight: 600;
            text-transform: capitalize;
            color: var(--black);
        }
        .shipping-return-text {
            margin-bottom: 3rem;
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 400;
            color: #777777;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 375px) {
    .shipping-return-area .single-shipping-return .shipping-return-title {
        font-size: 2rem;
        font-weight: 400;
    }
}